.ageDemographic, .ageDemographic__header{
    padding: 2rem 0;
}

.ageDemographic select {
    padding: 2rem 0;
    width: 20%;
  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid rgba(14, 149, 228, 0.726);
  border-radius: 0.4em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1;
  background-color: rgba(14, 149, 228, 0.127);
}